<p>Hello <%= @email %>,</p>

<p>You have been invited to join DirectShifts Task App by an admin user. To sign up, please click the link below:</p>

<%= link_to "Sign up now!", @signup_url %>

<p>Thanks for joining My App!</p>