<!DOCTYPE html>
<html>
  <head>
    <title>Signups only with referrals</title>
  </head>
  <body>
    <h1>Signups only with referrals</h1>
    <p>Sorry, signups are only possible with a valid referral. Please use a valid referral link to sign up.</p>
  </body>
</html>
