<div class="alert alert-<%= notice["type"] %> alert-dismissible" role="alert">
  <div><%= notice["message"] %></div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>